<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
        <meta charset="UTF-8">
        <link rel="icon" href="{% static "pictures/logo.png" %}">
        <title>Arlin</title>
        <link rel="stylesheet" href={% static "css/home.css" %}>
</head>
<body>
        <!-- Кривое меню -->

<div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                       <a href="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Домашняя страница
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/known_urls_view">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Знакомые URL
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/indexing_view">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Индексировать URL
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Отображение поисковой строки и кнопки поиска -->
        <div class="container">
                <div class="image"></div>
                <p>Найдется все.</p>
            <form method="get">
                <input type="text" name="input" id="text1">
                <input type="submit" name="search_button" id="button1" value="Искать">
            </form>

        <!--Вот тут будут выводится результаты -->
                {% for i in urls%}
                   <h3><a href="{{ i }}"> {{ i }}</a></h3>
                {% endfor %%}

        </div>
</body>
</html>

