<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <title>Arlin</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static "pictures/logo.png" %}">
    <link href="{% static "css/known.css" %}" rel="stylesheet">
  </head>
    <div class="image"></div>
    <div class="area"></div><nav class="main-menu">
                 <ul>
                <li>
                       <a href="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Домашняя страница
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/known_urls_view">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Знакомые URL
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/indexing_view">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Индексировать URL
                        </span>
                    </a>

                </li>
            </ul>
</nav>
   <div class="starter-template" align="left">
        <h1>Список URL</h1>
      </div>
    <div class="container" align="left">
            <input type="submit" align="left" id="button2" name="update" value="Обновить" style="width: 196%; height: 32px; font-size: 13px" >
      </div>

        {% for url in urls %}
            <h3>{{url.id}}) {{url.url}}</h3>
        {% endfor %}

    </div>
  </body>
</html>

