<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <title>Arlin</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static "pictures/logo.png" %}">
    <link href="{% static "css/known.css" %}" rel="stylesheet">
  </head>
    <div class="image"></div>
  <div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                       <a href="">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Домашняя страница
                        </span>
                    </a>
                </li>
            </ul>
        </nav>

    <div class="container">
        <h1>Cписок URL</h1>
            <input type="submit" align="center" name="update" value="Обновить" style="width: 40%; height: 25px; font-size: 10px" >
      </div>


        {% for url in urls %}
            <h3>{{url.id}}) {{url.url}}</h3>
        {% endfor %}

    </div>
  </body>
</html>
