body {

font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;

background-color: #fff;
background-size: 5170% 7900%;

}

.image{
content:url("http://i.imgur.com/oyt3pDE.png");
width:120px;
height:100px;
    margin-left: auto;
    margin-right: auto;
}

.container{
margin-left: auto;
    margin-right: auto;
position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
h2{
    color: #c5cad6;
text-align:center;
font-size: 5px;
position: relative 
}

